
{{#if @blog.logo}}
    <div class="logo">
<a class="blog-logo" href="{{@blog.url}}">
        <img class="blog-logo-image" src="{{@blog.logo}}" alt="Blog Logo"/>
</a>
    </div>
{{/if}}


<h5>{{@blog.title}}</h5>
<hr>
<ul class="list-unstyled menu">
    <li>
        <a href="https://github.com/harshpreet93" target="_blank">
         <i class="el el-github"></i> GitHub
        </a>
    </li>
</ul>



